

.leadership {
  display: flex;
  justify-content: space-between;
}
h2{
  color: black;
}
.about-p{
  color: #113366;
  font-weight: 600;
  font-size: 18px;
}
.leader-card {
  background-color: rgba(255, 255, 255, 0.5);
  /* 50% opacity */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 45%;
  margin-bottom: 20px;
  margin: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.leader-card:hover {
  transform: scale(1.05);
  /* Slightly increase size */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  /* Enhanced shadow on hover */
}



.leader-card img {
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.leader-card h3,
.leader-card p {
  color: #333;
  /* Adjust color as needed */
}

.company-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-details,
.company-history {
  background-color: rgba(255, 255, 255, 0.5);
  /* 50% opacity */
  border-radius: 10px;
  margin: 20px;
  margin-left: 30px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
  padding-right: 50px; 
  width: 70%;
  /* Smooth transition */
}

.company-details:hover,
.company-history:hover {
  transform: scale(1.05);
  /* Slightly increase size */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  /* Enhanced shadow on hover */
}


.company-info ul {
  list-style-type: none;
  /* Remove bullet points */
  padding-left: 0;
  /* Remove left padding */
}

.company-info li {
  margin-bottom: 8px;
  /* Optional: Add spacing between items */
}


.leader-info {
  margin: '10px';
}
