/* Decrease the size of the carousel */
.custom-carousel {
  width: 70%;
  height: 500px;
  margin: 0 auto; /* Center the carousel */
  margin-top: 10px; /* Space below the navbar */
}

/* Adjust the size of the carousel images */
.carousel-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.custom-carousel .carousel-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.caption-bg {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  padding: 8px 12px;
  border-radius: 6px;

}

/* Change the color of the carousel control arrows */
.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
  background-color: black; /* Set the color to black */
  border-radius: 50%; /* Optional: make the arrow background circular */
}

/* Optional: Add a black background to the entire control for better visibility */
.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  color: black;
  opacity: 1; /* Make the controls fully visible */
}

.custom-carousel .carousel-control-prev:hover,
.custom-carousel .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Optional hover effect */
}
