.carousel-container {
  max-width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}

.carousel .legend {
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  bottom: 0;
}

.image-height {
  height: 300px;
  object-fit: cover;
}
