.quote {
  background-image: url("../assets/quote1.png");
  background-size: cover;
  background-position: center;
  color: white;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 120px;
}

.heading {
  text-align: left;
  width: 70vw;
  margin-bottom: 20px;
  color: #0d3354;
  font-family: 'Georgia', serif;
  font-weight: 700;
  margin-left: 40px;
}

.quote-section {
  background-color: #f0f0f0; /* Light background color */
  padding: 20px;
}

.quote-card {
  background: linear-gradient(135deg, #e3f2fd, #bbdefb);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.quote-a {
  font-size: 16px;
  color: black; /* Dark text color */
}

.contact-button {
  background: linear-gradient(135deg, #0048aa, #40a8f0);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.contact-button:hover {
  background: linear-gradient(135deg, #003a8c, #2a82c9);
}
