.navBar {
  background: #bbe4e9;
  border-radius: 15px;
  font-size: 1.25em;
  align-items: center;
  /* position: relative !important; */
  /* padding: 5px; */
  /* margin: 10px; */
  /* flex-direction: row; */
  /* text-decoration: solid; */
  max-width: calc();
}

b {
  font-size: 1.5em;
}
.navbar-container {
  flex-direction: inherit;
}

/* .logo-heading {
  flex-direction: row;
} */

.container {
  margin: 0 !important;
}
