.navBar {
  background: #bbe4e9;
  border-radius: 15px;
  font-size: 1.25em;
  align-items: center;
  max-width: 100%;
  padding: 10px 15px;
  height: 75px;
  margin: 10px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Keeps the logo on the left and links on the right */
  margin: 0 !important;
  /* Ensures the container has no margin */
}

.logo-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  /* Adds space between the logo and the text */
}

b {
  font-size: 1.5em;
}

.navbar-nav {
  margin-left: auto;
  /* Pushes NavLinks to the extreme right */
}

.navbar-nav .nav-link {
  font-size: 1em;
  margin-left: 15px;
  /* Adds spacing between individual links */
}
