.App {
  background-image: url("../src/assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
